<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myhealthplusplus.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyHealthPlusPlus">
        <activity
            android:name=".Settings"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MyHealthPlusPlus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewProfile"
            android:exported="true"
            android:parentActivityName=".Settings"
            android:theme="@style/Theme.MyHealthPlusPlus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllowPermissionsLocation"
            android:exported="true"
            android:parentActivityName=".GetVaccined"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetVaccined_Locations"
            android:exported="true"
            android:parentActivityName=".GetVaccined"
            android:theme="@style/Theme.MyHealthPlusPlus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IsolationCountDown"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MyHealthPlusPlus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetVaccined_Verify"
            android:exported="true" />
        <activity
            android:name=".GetVaccined_p2"
            android:exported="true"
            android:parentActivityName=".News_Main"
            android:theme="@style/reg_txtInputLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetVaccined"
            android:exported="true"
            android:parentActivityName=".News_Main"
            android:theme="@style/reg_txtInputLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".News_Detailed"
            android:exported="true"
            android:parentActivityName=".News_Main"
            android:theme="@style/Theme.MyHealthPlusPlus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".News_Main"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MyHealthPlusPlus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetYourPcrTest"
            android:exported="true" />
        <activity
            android:name=".IfYoureFeelingSick"
            android:exported="true"
            android:parentActivityName=".News_Main"
            android:theme="@style/Theme.MyHealthPlusPlus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailedView_COVID"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MyHealthPlusPlus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAss-20Bh-av3fiNRGpUVwrysa4V5Q2YrY" />
    </application>

</manifest>